@tailwind base;
@tailwind components;
@tailwind utilities;


.containeer {
  width:90%;
  max-width: 1120px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}

body {
  background: #091C1A;
  
}


.swiper-button-next, .swiper-button-prev {  
  color: #FFE62E;
}


